body, html {
  margin: 0;
  padding: 0;
}


.row {
  height: 120px;
  width: 100%;
  background-color: #F3907B ;
}

.button {
 width: 100px;
 height: 100px;
 display: inline-block;
 text-align: right;
 font-family:Verdana, Geneva, Tahoma, sans-serif; 
 font-style: normal;
 font-weight: 15;
 font-size:  65%;
}

.box1 {
  border-style: dotted;
  border-color: black;
  box-sizing: content-box;
  padding: 80px;
  margin-bottom: 25px;
}

.box2{
  border-style: dotted;
  border-color: black;
  box-sizing: content-box;
  padding: 80px;
  margin-top: 50px;
}

.header {
  text-align: left;
  font-style: bold; 
}

.html1 {
  width: 150px;
  height: 150px;
}

.css1 {
  width: 150px;
  height: 150px;
}