body, html {
  margin: 0;
  padding: 0;
}


.box0 {
  height: 15vh;
  width: 100%;
  background-color: #F3907B;
  padding: 0px;
  margin-top: -5px;
  border-style: solid;
  border-width: thin;
  text-align: left;
  text-align: down;
}


.button {
 width: 100px;
 height: 100px;
 display: inline-block;
 text-align: right;
 font-family:Verdana, Geneva, Tahoma, sans-serif; 
 font-style: normal;
 font-weight: 15;
 font-size:  65%;
}

.box1 {
  border-style: dotted;
  border-color: black;
  box-sizing: content-box;
  padding: 60px;
  margin-bottom: -35px;
  border-width: thick;


}

.box2{
  border-style: dotted;
  border-color: black;
  box-sizing: content-box;
  padding: 80px;
  margin-top: 50px;
  border-width: thick;
}

.header {
  text-align: left;
  font-style: bold; 
}


.html1 {
  width: 150px;
  height: 150px;
}

.css1 {
  width: 150px;
  height: 150px;
}